@use '../../utils/variable' as *;
@use '../../utils/mixin' as *;
@use '../../utils/extend' as *;

.container-inner {
  width: 800px;
  margin: 8px 55px 12px;
}

#todo_app {
  .heading {
    & > * {
      padding: 0.5rem 0;
    }
    h1 {
      color: $black;
    }

    &__task-counter {
      color: $todoist-p4-color !important;
      font-size: $fs-400;
    }
  }

  .tasks-added {
    align-items: flex-start;
    flex-direction: column;

    &__item {
      cursor: pointer;
      width: 100%;
      height: 78px;
      display: grid;
      grid-template-columns: 30px 1fr 150px;
      font-size: $fs-400;
      gap: 0.5rem;

      &__frame {
        color: $gray-light;
        width: 24px;
        height: 24px;
        border: 1px solid;
        border-radius: 50%;

        &__icon {
          transform: scale(0);
          transition: all 0.2s ease;
        }
        &:hover {
          .tasks-added__item__frame__icon {
            transform: scale(1);
          }
        }
      }

      &__box {
        & > * {
          max-width: 604px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__name {
          color: $black;
        }
        &__desc {
          color: $todoist-p4-color;
          font-size: $fs-200;
        }
      }

      &__funcs {
        @include flexbox(flex-start, space-between, wrap);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease;
      }

      &:hover {
        .tasks-added__item__funcs {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  form {
    font-size: $fs-400;
    border: 1px solid $label-border;
    border-radius: 6px;

    .padding_div {
      & > * {
        padding: 10px;
      }
      &:last-child {
        border-top: 1px solid $label-border;
      }

      .input-form {
        & > * {
          margin-bottom: 10px;
        }

        &__inputs {
          input::placeholder {
            color: $gray-light;
            font-size: $fs-400;
          }
          &__input-name input::placeholder {
            font-weight: 600;
          }
        }
        &__labels {
          justify-content: flex-start;
          gap: 0.5rem;
        }
      }
      .add-task {
        @include flexbox(center, space-between, wrap);

        &__choices {
          @include flexbox(center, center, wrap, 0.5rem);
        }
      }
    }
  }

  .add-task-plus {
    font-size: $fs-400;
    gap: 0.5rem;
    color: #808080;

    span.plus-icon {
      color: $todoist-p1-color;
    }

    &:hover {
      color: $todoist-p1-color;
    }
  }
}
