@use '../utils/variable' as *;
@use '../utils/mixin' as *;
@use '../utils/extend' as *;

.btn-label {
  padding: 6px;
  height: 30px;
  border: 1px solid $label-border;
  border-radius: 6px;
  font-size: $fs-300;
  gap: 3px;

  transition: all 0.3s ease;

  &:hover {
    background-color: $label-hover;
  }

  &--date {
    color: $label-color;
  }
  &__pro {
    padding: 1px 4px;
    color: #8f4700;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $fs-100;
    background-color: #faead1;
    border-radius: 3px;
  }
}
